fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.31.0

# ML/Model dependencies
mlflow==2.10.2
transformers==4.36.2
torch==2.1.2

# Fact-checking package
factcheck @ git+https://github.com/MarcoSrhl/factcheck.git
spacy>=3.5.0
