# Database Connection
NEON_DB_URL=postgresql://username:password@host/database?sslmode=require

# DagHub Authentication
DAGSHUB_USER=MarcoSrhl
DAGSHUB_TOKEN=your_dagshub_token_here
DAGSHUB_REPO=MarcoSrhl/NLP-Fact-checking

# Model Configuration
MODEL_NAME=fact-checker-bert

# Worker Configuration
POLL_INTERVAL=5
MAX_RETRIES=3
